body {
    background-color: #EDEDE9;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
}

header h1,
header ul {
    margin: 2rem;
}

h1, h2 {
    font-family: 'Inconsolata';
}

nav li {
    display: inline-block;
    margin-left: 2rem;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #55868C;
}

#about-me {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    width: 100%;
    background-color: #55868C;
    color: white;
}

#about-me article {
    grid-area: 1 / 1 / span 1/ span 1;
    margin: 2rem;
}

#about-me img {
    grid-area: 1 / 2 / span 1/ span 1;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 90%;
}

#contact-me {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #55868C;
    color: white;
    padding: 6rem 4rem;
}

#contact-me li {
    list-style-type: none;
    margin: 2rem;
}

#projects {
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr;
}

#projects .section-heading {
    display: flex;
    grid-area: 1 / 1 / span 1/ span 3;
    width: 100%;
    height: 8rem;
    justify-content: center;
    align-items: center;
}

.section-heading h2 {
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.project-card.fortune{
    background-color: #F5EBE0;
}

.project-card.quill{
    background-color: #E3D5CA;
}

.project-card.whirlwind{
    background-color: #D5BDAF;
}

.project-card img {
    width: 60%;
    height: auto;
    align-self: center;
}

.project-card h3{
    text-align: center;
}

#fortune-area {
    align-self: center;
    text-align: center;
    width: 90%;
    background-color: white;
    padding: 1.2rem;
    border-radius: 0.4rem;
}

#get-fortune {
    padding: 1rem;
    align-self: center;
    background-color: #55868C;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: color 0.3s;
    transition: background-color 0.3s;
    margin: 1rem;
}

#get-fortune:hover {
    color: #55868C;
    background-color: white;
}

#get-fortune:active {
    color: #55868C;
    background-color: #55868C;
}

#skills .section-heading {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: center;
    align-items: center;
}

.skill-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

footer {
    background-color: #D5BDAF;
    color: black;
    padding: 4rem;
}
